@font-face {
    font-family: MySoul;
    src: url(../fontes/MySoul.ttf);
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: cornsilk;
    font-family:monospace;
    margin: auto;
    width: 780px;
    height: auto;
    text-align: left;
    border: 1px solid black;
}
header, footer{
    background-color: orange;
}
nav{
    background-color: goldenrod;
    color:beige;
    width: 180px;
    height: 400px;
    float: left;
}
header{
    height: 80px;
    top: 0;
}
footer{
    height: 20px;
}
section{
    width: auto;
    height: 400px;
}
.menu{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 180px;
}
.menu li{
    position: relative;

}
.submenu{
    list-style: none;
    position: absolute;
    left: 180px;
    width: 180px;
    top:0;
    display: none;
}
.menu li a{
    display: block;
    text-decoration: none;
    color:green;
    background: greenyellow;
    padding: 5px;
    border: 1px solid green ;
}
li:hover ul{
    display: block;
}
.menu li a:hover{
    text-decoration:underline;
    font-weight: bold;
    background: beige;
}
