/* @font-face {
    font-family: MySoul;
    src: url(/fontes/MySoul.ttf);
} */
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    font-family: "My Soul";
    margin: auto;
    width: 780px;
    height: auto;
    text-align: left;
    border: 1px solid black;
    color: darkgoldenrod;
}

header,footer{
    background-color: darkred;
}
nav {
    background-color: cadetblue;
    color: darkslategrey;
    width: 180px;
    height: 400px;
    float: left;
}

header{
    height: 80px;
    top: 0;
}

footer{
   height: 20px;
}

section{
    height: 400px;
    width: auto;
}
.menu{
    margin: 0;
    padding: 0;
    width: 180px;
    list-style-type: none;
}
 .menu li{
    position: relative;
 }
.submenu{
    display: none;
    list-style: none;
    position: absolute;
    left: 150px;
    top: 0;
}
.menu li a{
    display: block;
    background: darkred;
    color: gold;
    text-decoration: none;
    padding: 5px;
    border: 2px solid black;
}
li:hover ul{
    display: block;
}
.menu li a:hover{
    text-decoration:underline;
}
